:root {
  --primary-color-light: #edf2fc;
  --secondary-color-light: #000000;
  --primary-color-dark: #2e2e2e;
  --secondary-color-light: #edf2fc;
  --border-color-dark: #0D85FE;
}

* {
  margin: 0;
  padding: 0;
}


body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
}


#span {
  font-size: 30px;
  font-family: "Akaya Telivigala", cursive;
  margin: 10px;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #000000;
}
hr {
  color: #212ee9;
}

.but {
  margin: 5px;
}

.watch {
  margin: 20px;
}
/* Contest Card */
#all_contest {
  background-color: grey;
  border: 1px solid #000000;
  border-radius: 8px;
  margin: 20px;
  width: auto;
  height: auto;
}
.c_name {
  font-family: "Akaya Telivigala", cursive;
}
.start_time {
  display: contents;
  margin: 2rem;
}
.end_time {
  display: contents;
  margin: 2rem;
}
footer {
  font-size: 12px;
  /* text-align: center; */
  color: #DCD7C9;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  margin-bottom: 5px;
  background-color: #180A0A;
}

.c-link:hover{
  color: #ECB365;
}



/*Swich slider*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 12px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*theme switch*/
:root:has(.switch #dark-theme-toggler:checked) body{
  background-color: #2e2e2e;
  color: white;
}
/* Contest logo*/
.contest-img{
  width: 160px;
  height: 45px;
  margin-bottom: 15px;
}
.card{
  background-color: inherit;
  border-color: var(--border-color-dark);
}
.sun-icon{
  display: inline-block;
  position: absolute;
  left :20px;
  top: 28px;
  width: 1.5rem;
}
.moon-icon{
  display: inline-block;
  position: absolute;
  top: 30px;
  left :114px;
  width: 1.3rem;
}
